@media screen and (max-width:1400px){

    .nav-right {
    width: 100%;
    max-width: 100%;
}

.why-us-section{
    background-image: url(../img/Component\ 2\ –\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
  


}

}
@media screen and (max-width:1058px){
    .header-right img {
    width: 100%;
}
.protfolio-item img {
    width: 100%;
}
}